body {
	font-size: 30px;
}

.theorem {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.theorem:before {
    content: "Theorem.";
    font-weight: bold;
    font-style: normal;
}

.lemma {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.lemma:before {
    content: "Lemma.";
    font-weight: bold;
    font-style: normal;
}

.proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.proof:before {
    content: "Proof.";
    font-style: italic;
}
.proof:after {
    content: "\25FC";
    float:right;
}

.definition {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.definition:before {
    content: "Definition.";
    font-weight: bold;
    font-style: normal;
}

.main_idea {
    display: block;
    margin: 60px 0px 60px 0px;
    font-style: normal;
}

.main_idea:before {
    content: "Main Idea.";
    font-weight: bold;
    font-style: normal;
}

.formalism {
    display: block;
    margin: 60px 0px 60px 0px;
    font-style: normal;
}

.formalism:before {
    content: "Formal Argument.";
    font-weight: bold;
    font-style: normal;
}

.figure {
	display: block;
	margin: auto;
	border: 2px solid black;
	width: 300px;
	height: 300px;
|
