If the derivatives of the orthogonal basis are uniformly bounded, then the mean value theorem and the fundamental theorem of calculus show that the functions themselves are bounded in $L^2$.

Thus, the orthogonal basis can be normalized to lie within the unit ball in $H^1[0, 1]$. As the Rellich-Kondrachev theorem tells us, when viewed in $L^2$, the unit ball is compact. The sequence of orthogonal basis functions mus then have a convergenct subsequence in $L^2$. But this is impossible since the distance between any two elements is $\sqrt{2}$. 

In other words, a basis for $L^2$ can't fit into the unit ball in $H^1$. There is enough room in the unit ball in $L^2$, but not in $H^1$. Contrast this with finite dimensions where it's impossible to even fit an infinite orthogonal basis in the unit ball since boundedness immediately implies a convergent subsequence. 


