<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
<link rel='stylesheet' id='open-sans-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.2.4' type='text/css' media='all' />
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:600italic,600,400,400italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript" src="/scripts/jsxgraphcore.js"></script>

{% if site.google_author %}<link rel="author" href="{{ site.google_author }}"/>{% endif %}
{% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification}}" />{% endif %}
{% if site.bing_webmastertools_id %}<meta name="msvalidate.01" content="{{ site.bing_webmastertools_id }}" />{% endif %}

{% raw %}
$$
\newcommand{\lrparen}[1]{{\left( #1 \right)}}
\newcommand{\topologyn}{{\mathcal{T}}}
\newcommand{\indic}[1]{{\textbf{1}_{#1}}}
\newcommand{\topologyp}{{\mathcal{T}^\prime}}
\newcommand{\basis}{{\mathcal{B}}}
\newcommand{\topology}[1]{{\mathcal{T}_{#1}}}
\newcommand{\indicator}[1]{{\textbf{1}_{#1}}}
\newcommand{\Zplus}{{\mathbb{Z}_+}}
\newcommand{\Z}{{\mathbb{Z}}}
\newcommand{\Mf}{{\mathcal{M}_F}}
\newcommand{\M}{{\mathcal{M}}}
\newcommand{\eps}{{\varepsilon}}
\newcommand{\lebg}[1]{{\mu_L\left(#1\right)}}
\newcommand{\outerm}[1]{{\mu^*\left(#1\right)}}
\newcommand{\lebm}[1]{{\mu_L\left(#1\right)}}
\newcommand{\measure}[1]{{\mu\left(#1\right)}}
\newcommand{\ring}{\mathcal{R}}
\newcommand{\C}{{\mathbb{C}}}
\newcommand{\K}{{\mathbb{K}}}
\newcommand{\Nn}{{\mathbb{N}}}
\newcommand{\Rplus}{{\mathbb{R}_+}}
\newcommand{\rl}{{\mathbb{R}_l}}
\newcommand{\linfty}{l^\infty}
\newcommand{\closure}[1]{{\text{Cl}\left( #1 \right)}}
\newcommand{\Rmin}{{\mathbb{R}_-}}
\newcommand{\Q}{{\mathbb{Q}}}
\newcommand{\R}{{\mathbb{R}}}
\newcommand{\eR}{{\overline{\mathbb{R}}}}
\newcommand{\lebRing}{{\ring_{\text{Leb}}}}
\newcommand{\Rtwo}{{\mathbb{R}^2}}
\newcommand{\Rn}{{\mathbb{R}^n}}
\newcommand{\norm}[1]{\lVert #1 \rVert}
\newcommand{\dotp}[2]{{#1 \cdot #2}}
\newcommand{\abs}[1]{\left| #1 \right|}
\newcommand{\powerset}[1]{{\mathcal{P}(#1)}}
\newcommand{\puncplane}{{\ring^2 - \{ 0 \} }}
\newcommand{\puncplanen}{{\ring^n - \{ 0 \} }}
\newcommand{\til}[1]{{\widetilde{#1}}}
\newcommand{\degree}[2]{{deg_{#1} (#2)}}
\newcommand{\conj}[1]{{\overline{#1}}}
\newcommand{\series}[1]{{\sum_{k = 1}^\infty {#1}_k}}
\newcommand{\seq}[1]{{\left( {#1} \right)_{n = 1}^\infty }}
\newcommand{\maxm}[2]{{\max \, \left\{ {#1}, \, {#2} \right\} }}
\newcommand{\minm}[2]{{\min \, \left\{ {#1}, \, {#2} \right\} }}
\newcommand{\shortseq}[1]{{\left( {#1} \right) }}
\newcommand{\interior}[1]{{\textrm{Int} \left( {#1} \right)}}
\newcommand{\innerp}[2]{{\left< #1,\, #2\right>}}
$$
{% endraw %}

</head>
